In [2]:
s = set([5, 4, 6, 8, 8, 1])  # Creamos un conjunto con elementos, los duplicados se eliminan automáticamente
print(s)  # Imprime el conjunto: {1, 4, 5, 6, 8} (los elementos sin orden específico)
print(type(s))  # Imprime el tipo de variable, que es <class 'set'>

{1, 4, 5, 6, 8}
<class 'set'>

In [39]:
s = set([5, 6, 7, 8])  # Creamos un conjunto con estos elementos
# s[0] = 3  # Esto daría error porque los conjuntos no soportan indexación ni asignación por posición

In [10]:
lista = ["Perú", "Argentina"]  # Creamos una lista con dos elementos
lista.append("Mexico")  # Añadimos "Mexico" al final de la lista
lista.append("España")  # Añadimos "España" al final de la lista
print(lista)  # Imprime la lista completa: ['Perú', 'Argentina', 'Mexico', 'España']

['Perú', 'Argentina', 'Mexico', 'España']

In [11]:
s = set([5, 6, 7, 8])  # Creamos un conjunto con estos números
for ss in s:  # Iteramos sobre cada elemento del conjunto
    print(ss)  # Imprime cada elemento (el orden no está garantizado)

8
5
6
7

In [12]:
s = set([1, 2, 2, 3, 4])  # Creamos un conjunto, los duplicados '2' se eliminan
print(len(s))  # Imprime la cantidad de elementos únicos: 4

4

In [24]:
s = set([1, 2, 2, 3, 4, 3, 6])  # Creamos otro conjunto con algunos valores duplicados
print(len(s))  # Imprime la cantidad de elementos únicos: 5 (1,2,3,4,6)

5

In [29]:
s = set(["Guitarra", "Bajo"])  # Creamos un conjunto con dos elementos: "Guitarra" y "Bajo"

print("Guitarra" in s)  # Verifica si "Guitarra" está en el conjunto s, imprime True

for ss in s:  # Itera sobre cada elemento del conjunto s
    print(ss)  # Imprime cada elemento (el orden no está garantizado en un conjunto)

True
Bajo
Guitarra

In [30]:
s1 = set([1, 2, 3])  # Creamos el conjunto s1 con los elementos 1, 2 y 3
s2 = set([3, 4, 5])  # Creamos el conjunto s2 con los elementos 3, 4 y 5

print(s1 | s2)  # Imprime la unión de s1 y s2, que es {1, 2, 3, 4, 5}
# El operador "|" representa la unión entre dos conjuntos

{1, 2, 3, 4, 5}

In [31]:
l = set([1, 2])  # Creamos un conjunto con los elementos 1 y 2
l.add(3)         # Agregamos el elemento 3 al conjunto
print(l)         # Imprime el conjunto actualizado: {1, 2, 3}

{1, 2, 3}

In [41]:
s = set([1, 2])  # Creamos un conjunto con los elementos 1 y 2
s.remove(2)      # Eliminamos el elemento 2 del conjunto
print(s)         # Imprime el conjunto resultante: {1}

{1}

In [54]:
s = set([1, 2])  # Creamos un conjunto con los elementos 1 y 2
s.remove(3)      # Intenta eliminar el elemento 3, que NO está en el conjunto -> Esto genera un KeyError
print(s)         # No se ejecuta debido al error anterior

KeyError: 3

In [49]:
s = set([1, 2])  # Creamos un conjunto con los elementos 1 y 2
s.discard(3)     # Intentamos eliminar el elemento 3, que no está en el conjunto
                 # Pero discard no lanza error si el elemento no existe, simplemente no hace nada
print(s)         # Imprime el conjunto original: {1, 2}

{1, 2}

In [45]:
s = set([1, 2])  # Creamos un conjunto con los elementos 1 y 2
s.pop()          # Elimina y devuelve un elemento arbitrario del conjunto (generalmente el primero que encuentre)
print(s)         # Imprime el conjunto después de eliminar un elemento, por ejemplo: {2}

{2}

In [46]:
s = set([1, 2])  # Creamos un conjunto con los elementos 1 y 2
s.clear()        # Elimina todos los elementos del conjunto, dejándolo vacío
print(s)         # Imprime el conjunto vacío: set()

set()

In [47]:
s1 = {1, 2, 3}     # Creamos el conjunto s1 con elementos 1, 2 y 3
s2 = {3, 4, 5}     # Creamos el conjunto s2 con elementos 3, 4 y 5

print(s1.union(s2))  # Imprime la unión de s1 y s2, que incluye todos los elementos sin duplicados: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [48]:
s1 = {1, 2, 3}     # Creamos el conjunto s1 con los elementos 1, 2 y 3
s2 = {3, 4, 5}     # Creamos el conjunto s2 con los elementos 3, 4 y 5

print(s1.intersection(s2))  # Imprime la intersección entre s1 y s2: {3}
# La intersección son los elementos que están en ambos conjuntos

{3}

In [53]:
Frontend = {"HTML", "CSS", "JavaScript", "React"}  # Conjunto con tecnologías Frontend
Backend = {"Python", "SQL", "JavaScript", "Django"}  # Conjunto con tecnologías Backend

Frontend.add("Vue.js")        # Agrega "Vue.js" al conjunto Frontend
Backend.remove("Django")      # Elimina "Django" del conjunto Backend

# Calculamos la intersección: elementos que están en ambos conjuntos
interseccion = Frontend.intersection(Backend)

print(Frontend.union(Backend))        # Imprime la unión: todos los elementos de Frontend y Backend sin repetir
print(interseccion)                    # Imprime la intersección guardada antes

print(Frontend.intersection(Backend))  # Imprime nuevamente la intersección (igual que la variable 'interseccion')

{'HTML', 'JavaScript', 'React', 'CSS', 'SQL', 'Python', 'Vue.js'}
{'JavaScript'}
{'JavaScript'}